@media (max-width: 1024px) {
  html,
  body {
    user-select: none;
    -webkit-user-select: none;
  }

  input,
  textarea,
  select,
  button {
    font-size: 16px !important;
  }

  input,
  textarea {
    user-select: text;
    -webkit-user-select: text;
  }
}

@media (display-mode: standalone) {
  body {
    min-height: 100dvh;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
  }
}
